

#mobile {
    display: none;
   
}

#navbar {
    display: none;
}



@media screen and (max-width: 1024px) {
    
    #mobile {
        display: block;
        cursor: pointer;
        margin-left: 20px;
        
       
    }

    .close-menu-close{
       position: absolute;
       right: 10px;
       top: 10px;
       
      
       height: 30px;
       width: 30px;
       transition: 0.10s ease-out;
       
   }  

   

    #navbar {
        display: block;
        position: fixed;
        background:  #02000D;
        top: 0px;
        left: -300px;
        width: 300px;
        height: 100vh;
        transition: 0.3s ease-in-out;
        z-index: 1000;
       
    }
   

   #navbar.active {
    left: 0px;
    
    
   }


}